* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #14213D;
$secondary-color: #FCA311;
$tertiary-color: #FFFFFF;

$text-color: #000000;
$background: #637084;


body {
  background-color: #14213D;
  font-size: 16px;
  color: $text-color;

}

h1 {
  font-size: 52px;
  font-weight: normal;
  color: rgb(240, 94, 118);
}


 small {
  color: $background;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
  margin: 20px 0;
}


ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.time-wrapper {
    background-color: $primary-color;
    border-radius: 50%;
    border: 6px solid $primary-color;

    & div div {
      font-size: 42px;
      color: #FFFFFF;
      font-weight: bold;
    }
}


.button-wrapper {
  display: flex;

  & button {
    width: 78px;
    background-color: $text-color;
    color:   $tertiary-color;
    transition: all 250ms ease-out;
    border: 2px solid $text-color;
    font-weight: bold;
     &:nth-of-type(1) {
      border-radius: 12px 0 0 12px; 
     }

     &:nth-of-type(2) {
      border-radius: 0 12px 12px 0; 
    }

    &.active {
     background-color: $primary-color;
     border-color: $text-color;
     font-weight: lighter;
     opacity: 0.7;
     font-size: small;
    }
  }
}

.labels {
  position: relative;
}


.btn-mask {
  transform: translate3d(5px,25px,0px);
  position: absolute;
  height: 32px;
  width: 88px;
  background-color: $secondary-color;
  border-radius: 12px;
  opacity: 0.4;
  transition: transform 280ms cubic-bezier(1, -0.04, 0.35, 0.82);
  &.--short {
    transform: translate3d(105px,25px,0px);
  }

  &.--long{
    transform: translate3d(205px,25px,0px);
  }

  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}


input {
  background-color: $tertiary-color;
  color: $text-color;
  border: unset;
  max-width: 140px;
  height: 140px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
}

input:focus {
  outline-color: $tertiary-color;
  border: 2px solid $tertiary-color;
  transform: scale(1.06);
}

button {
  background-color: $tertiary-color;
  color: $text-color;
  border: unset;
  border-radius: 12px;
  height: 44px;
  padding: 6px;
  width: 100px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  font-size: 14px;
}

.labels {
  
  & li {

    &:nth-of-type(1){
     
      button {
        border-radius: 12px 0 0 12px;
      }

    }
    &:nth-of-type(2){
     
      button {
        border-radius: unset;
      }

    }

    &:nth-of-type(3){
     
      button {
        border-radius: 0 12px 12px 0;
        
      }

    }
  }
}


form {
  & button {
    background: #688cd8;
  }
}

.settings {
  background: #688cd8;
}
