* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #1D3461;
$secondary-color: #FB3640;
$tertiary-color: #605F5E;

$text-color: #ebebf4;
$background: #191d23;


body {
  background-color: #223e74;
  font-size: 16px;
  color: $text-color;

}

h1 {
  font-size: 52px;
  font-weight: normal;

}


 small {
  color: $tertiary-color;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
  margin: 20px 0;
}


ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.time-wrapper {
    background-color: $primary-color;
    border-radius: 50%;
    border: 6px solid $primary-color;

    & div div {
      font-size: 42px;
      color: $secondary-color;
      font-weight: bold;
      opacity: 0.7;
    }
}


.button-wrapper {
  display: flex;

  & button {
    width: 78px;
    background-color: $text-color;
    color: $background;
    transition: all 250ms ease-out;
     &:nth-of-type(1) {
      border-radius: 12px 0 0 12px; 
     }

     &:nth-of-type(2) {
      border-radius: 0 12px 12px 0; 
    }

    &.active {
      background-color: #191d23;
      color: $text-color;
    }
  }
}

.labels {
  position: relative;
}


.btn-mask {
  transform: translate3d(5px,25px,0px);
  position: absolute;
  height: 32px;
  width: 88px;
  background-color: $secondary-color;
  border-radius: 12px;
  opacity: 0.4;
  transition: transform 280ms cubic-bezier(1, -0.04, 0.35, 0.82);
  &.--short {
    transform: translate3d(105px,25px,0px);
  }

  &.--long{
    transform: translate3d(205px,25px,0px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}


input {
  background-color: $background;
  color: $text-color;
  border: unset;
  max-width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}

button {
  background-color: $background;
  color: $text-color;
  border: unset;
  border-radius: 12px;
  height: 44px;
  padding: 6px;
  width: 100px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  font-size: 14px;
}

.labels {
  & li {
    &:nth-of-type(1){
     
      button {
        border-radius: 12px 0 0 12px;
      }

    }
    &:nth-of-type(2){
     
      button {
        border-radius: unset;
      }

    }

    &:nth-of-type(3){
     
      button {
        border-radius: 0 12px 12px 0;
      }

    }
  }
}
